.Spinner {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vkui--color_icon_medium);
}

.Spinner--no-color {
  color: currentColor;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Spinner--animation {
  animation: spin 0.7s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .Spinner--animation {
    animation: pulse 1s alternate infinite;
  }
}

/**
 * CMP:
 * PanelHeader
 */
/* stylelint-disable-next-line selector-pseudo-class-disallowed-list */
:global(.vkuiInternalPanelHeader) .Spinner {
  color: currentColor;
}
